<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be back</h1>
    <p>We're fixing some stuff. Thanks for being patient.</p>
    
  </body>
</html>
